body {
	font: 11px "Lucida Grande", Verdana, Helvetica, sans-serif;
}

.btn {
  background-color: #2a68c8;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 5px .5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  background-color: #07c;
}

.btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn:active {
  background-color: #0064bd;
  box-shadow: none;
}

.titolo {
	font-size: 1.5em;
	text-indent: 10px;
}


#header {
	margin-left: 0px;
	padding: 8px;
	font-size: 2em;
	background-color: #2a68c8;
	color: #ddd;
}

/* userbar */
#userbar {
	color: #2a68c8;
	margin: 0px;
	padding: 4px;
	font-size: 1em;
	text-align: right;
}
#userbar a:link {
  text-decoration: none;
  color: #2a68c8;
}
#userbar a:visited {
  text-decoration: none;
  color: #2a68c8;
}
#userbar a:hover {
  text-decoration: underline;
}
#userbar a:active {
  text-decoration: underline;
}

#main_body {
	margin-left: 0px;
	padding: 4px;
}
#sidebar {
	width: 180px;
	height: 100%%;
	padding: 4px;
	float: left;
}
.err {
	text-align: center;
	font-weight: bold;
	color: #ee0000;
}

.msg {
	text-align: center;
	font-weight: bold;
	color: #2a68c8;
}


table {
	font-size: 1em;
	border: 1px solid #D6DDE6;
	border-collapse: collapse;
}
table td {
	border: 1px solid #D6DDE6;
	padding: 4px;
}
table th {
	border: 1px solid #828282;
	background-color: #BCBCBC;
	font-weight: bold;
	text-align: left;
	padding: 4px;
}

table.header {
	border-collapse: collapse;
	border-width: 0;
	border-style: none;
	background-color: #2a68c8;
/*	background-image: url('/img/paper.gif');*/
}
table.header td.left {
	border-width: 0;
	border-style: none;
	text-align: left;
	font-size: 2em;
	color: #ffffff;
}
table.header td.right {
	border-width: 0;
	border-style: none;
	text-align: right;
	font-size: 1em;
	color: #ffffff;
}
table.header td.center {
	border-width: 0;
	border-style: none;
	text-align: center;
	font-size: 1em;
	color: #ffffff;
}
.err {
	text-align: center;
	font-weight: bold;
	color: #ee0000;
}
.small {
	font-size: 0.9em;
}

table.action  {
	font-size: 1em;
	font-weight: bold;
	background-color: #DDDDDD;
	border-collapse: collapse;
}
table.action td {
	text-align: center;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #717171;
	border-right: 1px solid #717171;
	padding: 4px;
	white-space: nowrap;
}
table.action a:link, table.action a:visited {
	text-decoration: none;
	color: #000000;
}
table.action a:hover {
	color: #ee0000;
}

.help_text {
	font-family: Courier, monospace;
	color: #a6a6a6;
	padding-top: 8px;
}

.align_top {
	vertical-align: top;
}

pre {
	font-size: 1em;
	font-family: Courier, monospace;
}

/* html title list */
div.html_title {
	position: absolute;
	width: 350px;
	background: #fff;
}
div.html_title ul {
	border:1px solid #888;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}
div.html_title ul li {
	margin:0;
	padding:3px;
	list-style-type: none;
	display: block;
}
div.html_title ul li.selected { 
	background-color: #ffb; 
}

div.html_title ul strong.highlight { 
	color: #800; 
	margin:0;
	padding:0;
}
div.html_title a:link, div.html_title a:visited {
	font-weight: normal;
	color: #444444;
	text-decoration: none;
}
div.html_title a:hover {
	font-weight: normal;
	color: #DD0000;
	text-decoration: none;
}

/* table search */
#column_list {
	 list-style-image: url('/static/img/bullet_blue.png');
	 list-style-position: inside;
	 margin-left: 0px;
	 padding-left: 0px;
	 border: 1px solid #DDDDDD;
	 /*list-style-type: square;*/
}
#column_list pre {
	line-height: 1.5em;
}
#table_list {
	list-style-type: none;
	display: block;
	margin-left: 3px;
	padding: 0px;
	cursor: pointer;
}
#table_list li {
	padding: 2px;
	white-space: nowrap;
}
#table_search {
	float: right;
	border: 1px solid #7f9db9;
	padding: 2;
	text-align: left;
	width: 95%;
	}
.normal {
	background-color: #ffffff;
	}
.highlight {
	background-color: #dddddd;
	}

/*
#multi_area {
	position: absolute;
	left: 1em;
	width: 0em;
}
*/


#main_body {
	margin-left: 0em;
}

/*
#sidebar {
	float: left;
	border: 1px solid #D6DDE6;
	padding: 4px;
	height: 100%;
}
*/

table.excel {
	border-collapse: collapse;
}

table.excel td {
	border-style: none;
	padding: 0px;
}

textarea#query_area {
	font-family: 'Menlo', 'Monaco', 'Courier', fixed;
	font-size: 1.2em;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

code {
padding: 1px 2px;
color: #d14;
/*
white-space: nowrap;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
*/
}


#login_table input, #login_table select {
  width: 96%;
  padding: 6px;
  margin: 5px 0px;
  border: 2px solid #eee;
  font-size: 1.2em;
}

input[readonly]
{
    background-color: #f2f2f2;
}