body {margin: 1px; background: #CCFFFF;}
body, table, tr, td, select, input, textarea {font: 11px Verdana, Arial, Helvetica, sans-serif; color: #000000;}
a:link    { color: blue; text-decoration: none;}
a:visited { color: blue; text-decoration: none;}
a:active  { color: red;  text-decoration: none;}
a:hover   { color: red;  ; text-decoration: none; background-color: #cccccc }
.a1 {color: #000000; text-decoration: none;}
.f18 {font: 18px Verdana, Arial, Helvetica, sans-serif;}
.th1 {font-weight: bold; color: #ffffff; background: #003399; text-align: center; border: solid 1px #003399;}
.th2 {font-weight: bold; text-align: right; white-space: nowrap}
.th3 {font-weight: bold; color: #ffffff; background: #003399; text-align: left; border: solid 1px #003399;}
.th4 {font-weight: bold; text-align: left;}
.th5 {font-weight: bold; text-align: center;}
.th6 {background: #CCFFFF; border: solid 1px #CCFFFF;}
.td1 {text-align: left; border: solid 1px #003399;}
.td2 {text-align: right; border: solid 1px #003399;}
.td3 {text-align: center; border: solid 1px #003399;}
.td4 {text-align: left;}
.td2r {color: #ee0000; text-align: right; border: solid 1px #003399;}
.td2rg {color: #ee0000; text-align: right; border: solid 1px #003399; background: #dddddd;}
.td2b {color: #003399; text-align: right; border: solid 1px #003399;}
.td3r {color: #ee0000; text-align: center; border: solid 1px #003399;}


.tb1 {font-weight: bold; text-align: left; border: solid 1px #003399;}
.tb2 {font-weight: bold; text-align: right; border: solid 1px #003399;}
.tb3 {font-weight: bold; text-align: center; border: solid 1px #003399;}
.tb3blu {color: #003399; font-weight: bold; text-align: center; border: solid 1px #003399;}
.tb4 {font-weight: bold; text-align: right;}
.tb2blu {color: #003399; font-weight: bold; text-align: right; border: solid 1px #003399;}
.tb2red {color: #ee0000; font-weight: bold; text-align: right; border: solid 1px #003399;}
.tb5 {font-weight: bold; text-align: left;}

.ic {font-weight: bold; text-align: center;}
.lbl {font-weight: bold; text-align: left;}
.blu {font-weight: bold; text-align: left; color: blue;}

.sl1 {text-align: left;}
.sl3 {text-align: center;}
.tx1 {text-align: left;}
.tx2 {text-align: right;}
.tx3 {text-align: center;}
.tderr {font-weight: bold; color: #ffffff; background: #EE0000; text-align: left; border: solid 1px;}
.searchkey {border-bottom:1px solid #003399; margin-bottom:10px;}
.title {font-size: medium; color: #333; border-bottom:1px solid #999; font-weight:bold;}
a.menu:link {font-weight: normal; color: #ffffff; text-decoration: none}
a.menu:visited {font-weight: normal; color: #ffffff; text-decoration: none}
a.menu:active {font-weight: normal; color: #770000; text-decoration: none}
a.menu:hover {font-weight: normal; color: #ffff00; text-decoration: none; background-color: transparent}


td.menu_head {color: #ffffff; font-size: 12; vertical-align: middle; background: #003399; border: solid 1px #003399; border-bottom: solid 1px #ffffff}
td.menu_sub {color: #ffffff; font-size: 12; text-align: left; vertical-align: middle; background: #0066FF; border: solid 1px #003399;}
.menucurrent {color: black}
.sitemap {text-align: left; text-decoration: none}
.sitemapb {text-align: left; text-decoration: none; font-weight: bold;}
